[submodule "klipper"]
	path = klipper
	url = https://github.com/CrealityTech/klipper.git
 
[submodule "fluidd_ys"]
	path = fluidd_ys
	url = https://github.com/CrealityTech/fluidd_ys.git
[submodule "moonraker_ys"]
	path = moonraker_ys
	url = https://github.com/CrealityTech/moonraker_ys.git
